.profile-page-wrap {
    position: relative;
    background-image: linear-gradient(rgb(13 7 70), rgb(17, 76, 164));
    width: 100%;
    height: 200px;
}

.face-img img {
    position: absolute;
    border-radius: 50%;
    left: 15%;
    bottom: -30%;
}

.cam-img img {
    position: absolute;
    left: 23%;
    bottom: -20%;
}

.person-name {
    position: absolute;
    left: 26%;
    bottom: -20%;
    font-size: 22px;
}

.sv-chng-btn {
    position: absolute;
    right: 24%;
    text-decoration: none;
    padding: 10px 20px;
    bottom: -24%;
    border-radius: 42px;
    color: #fff;
    background: rgb(0, 108, 224);
    transition: all .4s ease-in-out;
}

.sv-chng-btn:hover {
    background: rgba(6, 47, 91, 0.678);
    text-decoration: underline;
}

.personal-details-sec {
    margin-top: 9%;
}

.personal-det-name {
    margin-left: 26%;
    font-size: 26px;
    color: #a29797;
}

/* form starts from here */

.personal-details-wrap {
    margin-left: 26%;
}

.form-wrap {
    display: flex;
    gap: 34px;
    align-items: center;
    margin: 36px 0;
}

.firstname-pp {
    padding: 8px 20px 8px 10px;
    border-radius: 6px;
    margin-top: 10px;
    border-color: #eaeced;
    width: 330px;
    font-size: 20px;
}

/* responsive */

@media screen and (max-width: 1200px) {
    .firstname-pp {
        width: 248px;
    }

    .person-name {
        left: 30%;
    }

    .cam-img img {
        left: 27%;
    }
}

@media screen and (max-width: 768px) {
    .form-wrap {
        flex-direction: column;
    }

    .personal-det-name {
        margin-left: 32%;
    }

    .personal-details-wrap {
        margin-left: 0;
    }

    .personal-details-sec {
        margin-top: 20%;
    }

    .cam-img img {
        left: 30%;
    }

    .person-name {
        left: 35%;
    }
}

@media screen and (max-width: 426px) {
    .personal-details-sec {
        margin-top: 36%;
    }

    .sv-chng-btn {
        right: 31%;
        bottom: -60%;
    }

    .person-name {
        left: 54%;
    }

    .cam-img img {
        left: 44%;
    }
}