.whole-wrapper-reqcall {
    padding-top: 100px;
}

.wrap-reqcall-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #F8F6FD;
    box-shadow: 4px 8px 20px #929394a6; 
    margin-top: 50px;
}

.reqcall-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.reqcall-name {
    font-size: 23px;
    margin: 40px;
    text-align: center;
    color: rgb(0, 108, 224); 
}

.input-reqcall {
    padding: 16px 77px 16px 10px;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    box-shadow: 4px 8px 20px #929394a6; 
    border: none;
}

.reqcall-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    padding: 10px 32px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgb(0, 108, 224);
    color: #fff;
    transition: all .4s ease-in-out;
}

.reqcallbk-btn {
    margin: 40px 0;
}

.reqcall-btn:hover {
    background-color: rgba(6, 47, 91, 0.678);
}




/* responsive */

@media screen and (max-width: 768px){
   .wrap-reqcall-page {
    width: 70%;
   } 
}