body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-clr);
}


:root{
  --theme-clr : #fff;
}

code {
  font-family: 'Poppins';
}

/* #e9ebed */
